*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(169, 157, 180);
}

nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(136, 127, 255);
    position: relative;
    height: 70px;
}

nav ul{
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color:white ;
}

.menu-icon{
    display: none;
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
}

@media (max-width:600px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align:center;
        background:rgb(136, 127, 255); 
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
}